body {
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

header {
background:#16a34a;
padding:15px;
text-align:center;
}

.container {
padding:15px;
max-width:1000px;
margin:auto;
}

.card {
background:#1e293b;
padding:15px;
border-radius:10px;
margin-bottom:20px;
}

input {
width:100%;
padding:10px;
margin:5px 0;
border:none;
border-radius:6px;
}

button {
background:#16a34a;
color:white;
border:none;
padding:10px;
width:100%;
border-radius:6px;
cursor:pointer;
}

button:hover {
background:#15803d;
}

.grid {
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:15px;
}

.producto {
background:#334155;
padding:10px;
border-radius:8px;
}

.btn-eliminar {
background:#dc2626;
margin-top:8px;
}

.btn-eliminar:hover {
background:#b91c1c;
}